<div class="main col-10">
  <div class="main-card">
  <div class="card-content">
    <div class="fr-stepper mb-0">
      <h1 class="title-step">Formations disponibles</h1>
      <p>Vous avez un problème sur votre ordinateur ? Nous sommes là pour vous aider.<br>Si vous n'arrivez toujours pas à le résoudre, n'hésitez pas à communiquer avec l'un de nos Assistants.</p>
      </div>
    </div>
    <%= render "layouts/card-training" %>
  </div>

  <%= link_to :back do %>
  <div class="btn-prev">
    <button class="fr-btn fr-btn--secondary">Retour</button>
  </div>
  <% end %>

</div>

<%= render "shared/footer" %>
