<div class="main col-10">
  <div class="main-card">
  <div class="card-content">
    <div class="fr-stepper mb-0 solved">
      <span class="fr-icon-success-line" aria-hidden="true"></span>
      <h1 class="title-step">Félicitations <%= @user.first_name %>, votre problème est résolu !</h1>
      </div>
    </div>
    <div class="trainings">
      <h4> Quelques formations qui pourraient vous intéresser...</h4>
      <%= render "layouts/card-training" %>
    </div>
    <!-- pagination -->

    <nav role="navigation" class="fr-pagination" aria-label="Pagination">
    <ul class="fr-pagination__list">
        <li>
            <a class="fr-pagination__link fr-pagination__link--first" aria-disabled="true" role="link">
                Première page
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" aria-disabled="true" role="link">
                Page précédente
            </a>
        </li>
        <li>
            <a class="fr-pagination__link" aria-current="page" title="Page 1">
                1
            </a>
        </li>
        <li>
            <a class="fr-pagination__link" href="#" title="Page 2">
                2
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 3">
                3
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-displayed-lg">
                …
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 130">
                10
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-displayed-lg" href="#" title="Page 131">
                11
            </a>
        </li>
        <li>
            <a class="fr-pagination__link" href="#" title="Page 132">
                12
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="#">
                Page suivante
            </a>
        </li>
        <li>
            <a class="fr-pagination__link fr-pagination__link--last" href="#">
                Dernière page
            </a>
        </li>
    </ul>
</nav>

</div>

      <%= link_to :back do %>
  <div class="btn-prev">
    <button class="fr-btn fr-btn--secondary">Retour</button>
  </div>
  <% end %>

</div>

<%= render "shared/footer" %>
