<div class="first-content">

 <%= simple_form_for [@user, @helper] do |f| %>
      <%= f.input :category, as: :text%>
      <%= f.input :category, as: :text %>
      <button class="btn btn-primary"><%= f.button :submit %></button>
    <% end %>
</div>
