<%= simple_form_for @issue do |f| %>
      <%= f.input :subsubcategory, collection: Issue::SUBSUBCATEGORIES %>
      <button class="btn btn-primary"><%= f.button :submit %></button>
    <% end %>

<p><%= link_to "Back to List", issues_path %></p>

