<%= simple_form_for [@training, @booking] do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <button class="btn btn-primary"><%= f.button :submit %></button>
    <% end %>
