<style>
.navbar{display:none;}
.main-card{margin-top:2em;}
</style>
<div class="main col-10">
  <div class="deletenavbar">
    <%= link_to "/" do %>
    <button class="fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-home-4-line">Retour à la page d'accueil</button>
    <% end %>
  </div>
</div>
