<div class="main col-10">
  <div class="main-card">
  <div class="card-content">
    <div class="fr-stepper mb-0">
      <h2 class="fr-stepper__title mb-0">
      <span class="fr-stepper__state">Étape 1 sur 3</span>
      <h1 class="title-step">Problème e-mail</h1>
      </h2>
      <div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="3"></div>
        <p class="fr-stepper__details">
        <span class="fr-text--bold">Étape suivante :</span> Détails supplémentaires concernant votre problème
        </p>
      </div>
    </div>
    <%= render "layouts/card-sub-email" %>
  </div>

  <%= link_to :back do %>
  <div class="btn-prev">
    <button class="fr-btn fr-btn--secondary">Retour</button>
  </div>
  <% end %>
  <!-- bouton next
  <%= link_to new_issue_path do %>
  <div class="btn-next">
    <button class="fr-btn fr-btn--icon-right fr-icon-arrow-right-s-line">Poursuivre</button>
  </div>
  <% end %>-->
</div>

<%= render "shared/footer" %>
