.btn-next {
  float: right;
  display: grid;
  position: relative;
  bottom: 20px;
}

.btn-next span {
  font-size: 14px;
}

.btn-prev {
  float: left;
  margin-top: 24px;
}

.btn-card-bot {
  margin-top: 6em;
  margin-bottom: 1em;
}

.btn-card-bot a {
  text-decoration: none;
}

.deletenavbar a {
  text-decoration: none;
}

.btn-video {
  position: absolute;
}

.minitext {
  font-size: 10px;
  margin: 0;
}

.minitext p {
  font-size: 13px;
}

.minitext svg {
  width: 30px;
}

.btn-fullscreen {

}

/** horrible mais cheh **/
.fr-btn.fr-btn--icon-right.fr-icon-arrow-right-s-line:hover {
  background: var(--hover-tint);
}
