.main-card {
  width: 100%;
  background-color: #FFFFFF;
  padding: 2em;
  position: relative;
  margin-top: 1em !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-card {
  width: 40%;
  background-color: #FFFFFF;
  padding: 2em;
  margin-top: 1em !important;
  margin-left: 4em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: left;
}

.login {
  display: flex;
  justify-content: center;
  grid-gap: 16px;
}

.content a {
  text-decoration: none;
}

.card-training .pbcard {
  box-shadow: 0 0 0 1px var(--border-default-grey);
}

.fr-card__desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.fr-card__content {
  min-height: 30vh;
}

.fr-tile {
  box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 0 -0.25rem 0 0 #fff;
}

.fr-tile--horizontal-md .fr-tile__img {
  margin: 0;
}

.fr-tile--horizontal-md .fr-tile__body {
  width: 100%;
}

.fr-tile__body {
  display: block;
  width: 20vw;
  text-align: left;
}

.fr-tile__body h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fr-tile__body p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

.title-step {
  font-size: 32px;
  margin-top: 0;
}

.pbcard a {
  text-decoration: none;
  color: inherit;
}

.card-problem {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-training {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 2em;
}

.card-training .pbcard:hover {
  margin-top: -0.5rem;
  margin-bottom: 8px;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
  transition: .3s all ease-in;
}

.fr-card__img {
  width: 100%;
}

.card-training .fr-card__img img {
  width: inherit;
}

.fr-card:not(.fr-card--no-border):not(.fr-card--shadow) {
  box-shadow: none !important;
}

.fr-card__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fr-enlarge-link:hover {
  cursor: auto;
  cursor: pointer;
  box-shadow: 0px 4px 0px $blue-france;
}

/** overpatch bootstrap **/
.fr-btns-group--inline-lg {
  padding-left: 0px;
}

@media (max-width: 992px) {
  .logo-footer {
    display: block;
    width: 100%;
    margin-bottom: 2em;
  }
  .footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer-section {
    width: 100%;
  }

  .card-training {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-problem {
    grid-template-columns: 1fr;
  }
  .card-training {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-problem {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-problem {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-problem {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-problem {
    grid-template-columns: 1fr 1fr;
  }
}
