footer {
  margin-top: 10em;
  margin-bottom: 2em;
}

.logo-footer {

}

.footer-items {
  display: flex;
  justify-content: center;
}

.footer-text-parent {
  font-size: 18px;
  font-weight: bold;
}
