.navbar-lewagon {
  justify-content: space-between;
  margin-bottom: 6em;
  background-color: #FFFFFF;
  padding: 1em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav li {
  padding-right: 1.5em;
}
