.navbar-lewagon {
  justify-content: center;
  margin-bottom: 4em;
  background-color: #FFFFFF;
  padding: 1em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav li {
  padding-right: 1.5em;
}

.fr-highlight {
  margin-left: 0rem;
  padding-left: 2rem;
  margin-top: 4.875em;
}

.langnav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav-item a {
  text-decoration: none;
}
