// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "dist/dsfr.min.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: auto;
}

body {
  font-family: Marianne,arial,sans-serif;
  margin-left: auto;
  margin-right: auto;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: Marianne,arial,sans-serif;
  margin-bottom: 32px
}

[href] {
  background: 0;
}

.main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.icn {
  color: $blue-france;
}

[class*=" fr-fi-"]:before, [class*=" fr-icon-"]:before, [class^=fr-fi-]:before, [class^=fr-icon-]:before {
  width: 40px;
  height: 40px;
}

.fr-btn--icon-left[class*=" fr-icon-"]:before {
  width: 30px;
  height: 30px;
}


.deletenavbar {
  width: 100%;
  position: relative;
  margin-top: 2em;
}
