<div class="row card-problem">
  <div class="pbcard fr-tile fr-enlarge-link fr-tile--horizontal-md">
    <div class="fr-tile__body">
        <h5>Description</h5>
        <h6>Lorem Ipsum is text</h6>
        <p>Lorem Ipsum is simply dummyustry. Lorem Ipsum has been the industsince the 1500s</p>
    </div>
    <div class="fr-tile__img">
        <span class="icn fr-icon-computer-fill" aria-hidden="true"></span>
    </div>
  </div>
  <div class="pbcard fr-tile fr-enlarge-link fr-tile--horizontal-md">
    <div class="fr-tile__body">
        <h5>Description</h5>
        <h6>Lorem Ipsum is text</h6>
        <p>Lorem Ipsum is simply dummyustry. Lorem Ipsum has been the industsince the 1500s</p>
    </div>
    <div class="fr-tile__img">
        <span class="icn fr-icon-computer-fill" aria-hidden="true"></span>
    </div>
  </div>
  <%= link_to sub_email_path do %>
  <div class="pbcard fr-tile fr-enlarge-link fr-tile--horizontal-md">
    <div class="fr-tile__body">
        <h5>Email</h5>
        <h6>Lorem Ipsum is text</h6>
        <p>Lorem Ipsum is simply dummyustry. Lorem Ipsum has been the industsince the 1500s</p>
    </div>
    <div class="fr-tile__img">
        <span class="icn fr-icon-computer-fill" aria-hidden="true"></span>
    </div>
  </div>
  <% end %>
</div>
