<div class="card-problem">
  <label>
    <div class="fr-tile fr-enlarge-link fr-tile--horizontal-md col-6">
      <div class="fr-tile__body">
          <h5>Description</h5>
          <h6>Lorem Ipsum is text</h6>
          <p>Lorem Ipsum is simply dummyustry. Lorem Ipsum has been the industsince the 1500s</p>
      </div>
      <div class="fr-tile__img">
          <span class="icn fr-icon-computer-fill" aria-hidden="true"></span>
      </div>
    </div>
  </label>
</div>
